@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Courgette', cursive; */

@font-face {
    font-family: myFont1;
    src: url(../fonts/din.ttf);
}

@font-face {
    font-family: myFont2;
    src: url(../fonts/amazone.otf);
}

@font-face {
    font-family: myFont3;
    src: url(../fonts/geogtq.otf);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* ----- Fixed Navbar Section ----- */

.bg-color {
    background: #AA0A90;
}

#title {
    text-align: center;
    font-family: myFont1;
    font-size: 48px;
    letter-spacing: 12px;
    text-decoration-line: none;
    color: #fff;
    text-transform: uppercase;
}

#text2 {
    font-family: myFont2;
    font-size: 34px;
    font-weight: 400;
    text-align: center;
    color: #fff;
    letter-spacing: 4px;
    margin-bottom: 15px;
}

#text3 {
    font-family: myFont3;
    letter-spacing: 18px;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    padding-bottom: 15px;
    padding-left: 15px;
}

#text4 {
    font-family: myFont3;
    letter-spacing: 2px;
    font-size: 18px;
    word-spacing: 3px;
    text-align: center;
    color: #000;
    padding-top: 15px;
    padding-bottom: 15px;
}

ul.navbar-nav {
 width: 90%;
}

.nav-item a {
    font-family: 'Courgette', cursive;
    font-size: 18px;
    letter-spacing: 2px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    padding: 5px;
}

.navbar .nav-item a:hover {
    background-color: #efc4f7;
    background-color: #fff;
    border-radius: 35%;
    color: #000;
    width: 100%;
    padding: 3px;
    align-items: center;
    justify-content: center;
}



/* .navbar-toggler {
    color: #fefefe;
    padding-right: 65px;
    align-items: self-start;
    justify-content: left;
}  */

.navbar-toggler-icon {
        width: 50px;
        justify-self: center;
        align-self: center;
} 


/* ----- Media Queries Section for Navbar ----- */

@media (min-width: 768px) {
    .sidebar{
        background-color: rgba(255,255,255,0.15);
        background-color: rgba(98, 57, 91, 0.7);
        /* background-color: rgba(98, 57, 91, 7); */
        backdrop-filter: blur(10px);
    } 
}

@media (max-width: 991px) {
    .sidebar{
        background-color: rgba(255,255,255,0.15);
        background-color: rgba(98, 57, 91, 0.7);
        /* background-color: rgba(98, 57, 91, 7); */
        backdrop-filter: blur(10px);
    } 
}

@media (max-width: 600px) {
    .sidebar{
        background-color: rgba(255,255,255,0.15);
        background-color: rgba(98, 57, 91, 0.7);
        /* background-color: rgba(98, 57, 91, 7); */
        backdrop-filter: blur(10px);
    }
}

@media (max-width: 480px) {
    .sidebar{
        background-color: rgba(255,255,255,0.15);
        background-color: rgba(98, 57, 91, 0.7);
        /* background-color: rgba(98, 57, 91, 7); */
        backdrop-filter: blur(10px);
    }
}

/* ----- Hero Section ----- */

#bg-color {
    background: #363535;
    background: #5c5b5b;
    height: 100%;
    width: 100%;
}

#hero-image {
    height: 800px;
    width: 100%;
    background: url(../images/bg-image.jpg) no-repeat center center;

/* Aminates zoom effect on loading page  - hero Section   */

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-outer {
    height:800px;
    width: 100%;
    overflow: hidden;
    position: relative;

}

/* Creates the level of zoom for hero image */

@keyframes hero-zoom {
    from {
    transform: scale(1);
    }
    to {
    transform: scale(1.1);
    }
}

#hero-text {
    width: 300px;
    height: 200px;
    padding-top: 140px;
    padding-left: 100px;
    margin-right: 0;
    margin-left: 0;
}

 #hero-text, #hero-text h6 {
    color: #fff;
    color: #363535;
    color: #666;
    color: #000;
 }

#hero-text {
    font-family: 'Courgette', cursive;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    line-height: 10px;


    width: 300px;
    height: 200px;

    padding-top: 60px;
    padding-left: 10px;
    padding-right: 10px;

    background-color: rgba(255, 174, 239, 0.7);

    bottom: 50px;
    right: 140px;

    position: absolute;
}

/* ----- Media Queries Section for Hero Section ----- */

@media screen and (max-width: 600px) {
    #hero-text {
        right: 40px;
    }

    #hero-image {
        height: 800px;
        width: 100%;
        background: url(../images/bg-image.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    #hero-outer {
        height:800px;
        width: 100%;
        overflow: hidden;
        position: relative;
    }
}

/* ----- Hero Section Two ----- */

#bg-color {
    background: #363535;
    background: #5c5b5b;
    height: 100%;
    width: 100%;
}

#hero-imageTwo {
    height: 800px;
    width: 100%;
    background: url(../images/sea.png) no-repeat center center;

/* Aminates zoom effect on loading page  - hero Section   */

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-outerTwo {
    height:800px;
    width: 100%;
    overflow: hidden;
    position: relative;

}

/* Creates the level of zoom for hero image */

@keyframes hero-zoom {
    from {
    transform: scale(1);
    }
    to {
    transform: scale(1.1);
    }
}

galleryQuote {
    width: 300px;
    height: 200px;
    padding-top: 140px;
    padding-left: 100px;
    margin-right: 0;
    margin-left: 0;
 
}

/* ----- Media Queries Section for Hero Section Two ----- */

@media screen and (max-width: 600px) {
    #hero-imageTwo {
        height: 800px;
        width: 100%;
        background: url(../images/sea.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    #hero-outerTwo {
        height:800px;
        width: 100%;
        overflow: hidden;
        position: relative;
    }
}

.galleryQuote {
    background-color: #5c5b5b;
    padding-bottom: 20px;
    width: 100%;
    margin: 0;
    padding: 0;
} 

.galleryQuote h3 {
    font-family: myFont1;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #fff;
    padding-top: 10px;
    text-align: center;
    margin-left: 120px;
}
 
.galleryQuote h4 {
    font-family: myFont2;
    color: #fff;
    font-size: 36px;
    font-weight: 200;
    letter-spacing: 4px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
padding-bottom: 5px;    
}


 /* ----- Nur's Story Section ----- */


.nurStory-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center; 
    width: 100%;
    padding: 20px;
}

#aboutNur-page {
    background: #5c5b5b;   
}

#storyTitle h3 {
    font-family: myFont1;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #fff;
    /* font-family: 'Courgette', cursive; */
    padding-top: 10px;
    text-align: left;
    margin-left: 120px;
}

#storyTitle h4 {
     font-family: myFont2;
     color: #efc4f7;
     color: #fff;
     font-size: 30px;
     font-weight: 200;
     letter-spacing: 4px;
     text-align: left;
     margin-top: 10px;
     margin-bottom: 15px;
     margin-left: 150px;
     /* font-family: 'Courgette', cursive; */
}

.storyInfo-contain {
    width: 80%;
    margin: 40px auto 20px; 
}

.storyInfo-contain .floating-image {
    max-width: 350px;
}

.storyInfo-contain .floating-image.right{
    float: right;
    margin-left: 35px;
    margin-bottom: 10px;
}

.storyInfo-contain .floating-image.left{
    float: left;
    margin-right: 35px;
    margin-bottom: 10px;
}

.storyContain-title {
    padding-top: 50px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
}

.storyInfo-contain h3 {
    font-family: myFont2;
    color: #efc4f7;
    color: #fff;
    font-size: 40px;
    font-weight: 200;
    letter-spacing: 4px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    /* font-family: 'Courgette', cursive; */
}

.storyInfo-contain p {
    /* font-family: myFont2; */
    color: #efc4f7;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.5em;
    font-family: 'Roboto', sans-serif;
    text-align: justify; 
    margin-top: 20px;
    margin-bottom: 15px;
}

/* ----- Media Queries Nur's Story Section ----- */
 
@media (max-width: 480px) {
   
.storyInfo-contain {
    width: 80%;
    margin: 30px 25px 25px 30px;
}

.storyInfo-contain .floating-image {
    align-content: center;
    justify-content: center;
    
}

}

/* ----- About Section ----- */

.about-container {
    display: flex;
    justify-content: center;
    align-self: center; 
    width: 100%;
    transition: 0.5s;
    padding: 20px;
}

#about-page {
    background: #5c5b5b;   
}

.about-cont {
    display: grid;
    grid-template-columns: auto;
    min-height: 100vh;
    width: 100%;
    transition: 0.5s;
}

.item-1 {
    width: 800px;
    text-align: center;
}

#intro-heading h3 {
   font-family: myFont1;
   font-size: 40px;
   font-weight: 500;
   letter-spacing: 2px;
   color: #fff;
   /* font-family: 'Courgette', cursive; */
   padding-top: 10px;
   text-align: left;
   margin-left: 120px;
}

#intro-heading h4 {
    font-family: myFont2;
    color: #efc4f7;
    color: #fff;
    font-size: 30px;
    font-weight: 200;
    letter-spacing: 4px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 150px;
    /* font-family: 'Courgette', cursive; */
}

#img-about-cont {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.item-2 img,
.item-4 img {
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    align-content: center;
}

.item-3 img {
    display: flex;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

img {
    border-radius: 50px;
    z-index: 1000;
}

#content {
    display: flex;
    flex-direction: row;
    width: 50%;
}

#content-1 h6,
#content-3 h6 {
    color: #fff;
    font-size: 26px;
    font-weight: 500;
    font-family: 'Courgette', cursive;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin-top: 60px;
    width: 90%;
}

#content-1 p,
#content-3 p  {
    color: #fff;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 90%;
    margin-top: 10px;
}

.content-about{
    display: flex;
    flex-direction: column;
}

#content-2 h6 {
    color: #fff;
    font-size: 26px;
    font-weight: 500;
    font-family: 'Courgette', cursive;
    text-align: left;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: 100px;
    width: 80%;
}

#content-2 p {
    color: #fff;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin-top: 10px;
    margin-left: 100px;
    width: 80%;
}

/* ----- Media Queries Intro About Section ----- */
/* 
@media (max-width: 480px) {
   
    .about-cont {
        display: grid;
        grid-template-columns: auto;
        min-height: 100vh;
        width: 90%;
        transition: 0.5s;
    }

    #about-page {
        background: red;
      }

    .item-1{
        width: 100%;
    }

    #content-1 {
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-self: center;
        width: 100%;
        
    }

    .content-about {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;     
    }

    #content-2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
        align-self: flex-start;
        justify-self: flex-start;
        width: 100%;
        margin-left: -95px;    
    }
  
} */

/* @media screen and (max-width: 600px) {
    
} */
    @media screen and (max-width: 992px) {
        .about-container {
            padding: 50px;
            align-items: center;
            justify-content: center;
            width: 100%; 
        } 

        #about-page { 
            /* align-items: center;
            justify-content: center;
            width: 100%;  */
        }

        .about-cont {
            align-items: center;
            justify-content: center;
            width: 100%;  
            padding-left: 40px;
            padding-right: 40px;
        }

        .item-1 {
            align-items: center;
            justify-content: center;
            width: 95%;
        } 

       #intro-heading .item-1 {
            max-width: 800px;  
            align-items: center;
            justify-content: center;
        } 

       #intro-heading h3 {
            text-align: center;
            margin-left: 10px; 
            width: 100%;  
        }

        #intro-heading h4 {
            text-align: center;
            justify-content: center;
            align-items: center;
            margin-left: 3px;
            margin-bottom: 25px;
        }

        #content-1 h6, 
        #content-3 h6 {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            margin-top: 20px;
            justify-content: flex-start;
            align-items: flex-start;
            margin-left: 20px;
        }

        #content-1 p, 
        #content-3 p {
        text-align: left;
            margin-left: 20px;
            padding-right: 20px;
            width: 100%;
        }

        .item-2 img,
        .item-4 img {
            padding-right: 20px;
            padding-left: 20px;
        }

        .item-3 img {
            display: flex;
            /* float: right; */
            margin-top: 10px;
            margin-bottom: 10px;
            padding-right: 20px;
            padding-left: 20px;
        }

        #content-2 h6 {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            margin-top: 20px;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            margin-left: 20px;
        }

        #content-2 p {
            text-align: left;
            margin-left: 20px;
            padding-right: 20px;
            width: 100%;
        }

    }

/* ----- Services Section ----- */

.services {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#services-page {
    background: #5c5b5b;
}

.services-cont-title {
    text-align: center;
    width: 100%;
}

.services-title {
    max-width: 800px;
}

.services-title h3 {
    font-family: myFont1;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #fff;
    /* font-family: 'Courgette', cursive; */
    text-align: center;
    padding-top: 10px;
}

#services-title h4 {
    font-family: myFont2;
    color: #fff;
    font-size: 30px;
    font-weight: 200;
    letter-spacing: 4px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 150px;
        /* font-family: 'Courgette', cursive; */
}

.services-box {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    max-width: 100%;
    margin-top: 40px;
    margin-right: 60px;
    margin-left: 60px;
    margin-bottom: 0;
    padding-bottom: 40px;
}

.services-box .phase-box {
    width: 300px;
    margin: 0 auto;
    background: #fefefe;
    color: #c04fb1;
    padding: 20px;
    box-shadow: 0 15px 30px rgba(0,0,0,18);
}

.services .phase-box .iconBx {
    margin-top: 25px;
}

.services .phase-box .iconBx i {
    display: flex;
    font-size: 60px;
    color: #000;
    /* color: #666; */
    justify-content: center;
    max-width: 70px;
    margin-bottom: 15px;
    padding-left: 130px;
}

.services .phase-box h4{
    color: #c04fb1;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}

.services .phase-content h5 {
    color: #c04fb1;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 2rem;
}

.services .phase-content p {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
    padding-left: 8px;
    padding-right: 8px;
}

.services .phase-content li {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: left;
}

/* ----- Media Queries Services Section ----- */

@media (max-width: 992px) {
    .services {
            padding: 100px 50px 50px 50px;
            align-items: center;
            justify-content: center;
            width:100%;
        }

        .services-cont-title {
            width: 100%;
            align-items: center;
            justify-content: center;
        }

        .services-title h3 {
            font-family: myFont1;
            font-size: 40px;
            font-weight: 500;
            letter-spacing: 2px;
            color: #fff;
            text-align: center;
            padding-top: 10px;
            margin-left: 10px;
        }   

    #services-title h4 {
        font-size: 30px;
        font-weight: 200;
        letter-spacing: 4px;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 15px;
        margin-left: 3px;
    }

.services-content .services-box {
        width: 100%;
    }

    #services-page {
            display: grid;
            width: 100%;
            grid-template-columns: auto;
            grid-template-rows: auto;
            justify-content: center;
            align-items: center;

        }
    .services-content {
        width: 80%;
    }

}

/* ----- Before & After Section ----- */

.b-a-projects {
    display: flex;
    width: 100%;
}

#before-aft-page {
    background: #5c5b5b;
    width: 100%;
    height: 100%;
}
.complete-cont-title {
    width: 100%;
}

.b-a-title h3 {
    font-family: myFont1;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #fff;
    text-align: left;
    padding-top: 10px;
    margin-left: 120px;
}

.b-a-subtitle {
    font-family: myFont2;
    color: #fff;
    font-size: 30px;
    font-weight: 200;
    letter-spacing: 4px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 150px;
    width: 100%;
}

.color-white {
    color: #fff;
}

.flip-box {
    transform-style: preserve-3d;
    perspective: 1000px;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 50px;
}

.flip-box-front,
.flip-box-back {
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    min-height: 475px;
    /* transition: transform 0.7s cubic-bezier(.4,.2,.2,1); */
    backface-visibility: hidden;
    transition: transform 5s;
    transform: rotateY(.25turn);
}

.flip-box-front {
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    background-blend-mode: overlay;
}

.flip-box-front::before,
.flip-box-back::before {
    content: '';
    position: absolute;
    top: 1.5em;
    bottom: 1.5em;
    left: 1.5em;
    right: 1.5em;
    border: 5px solid currentColor;
    border-color: #efc4f7;
    border-color: #fff;
    border-radius: 20px;
    transform: translateZ(3rem);
}

.flip-box:hover .flip-box-front {
    transform: rotateY(-180deg);
    transform-style: preserve-3d;
}

.flip-box-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* transform: rotateY(180deg); */
    transform-style: preserve-3d;
    transform: rotateY(.5turn);
}

.flip-box:hover .flip-box-back {
    transform: rotateY(0deg);
    transform-style: preserve-3d;
}

.flip-box .inner {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 60px;
    outline: 1px solid transparent;
    perspective: inherit;
    z-index: 2;
    transform: translateY(-50%)translateZ(60px) scale(.94);
    top: 50%;
}

.flip-box-header {
    color: #fff;
    font-size: 30px;
    transform: translateZ(9rem);
    order: 2;
    background-blend-mode: overlay;
}

.flip-box p {
    color: #fff;
    font-size: 20px;
    opacity: .7;
    transform: translateZ(6rem);
}

.flip-box-img {
    margin-top: 25px;
    width: 35px;
    height: 35px;
}

/* ----- Media Queries Before & After Section ----- */

@media (max-width: 992px) {
    .b-a-projects {
            /* padding: 100px 50px 50px 50px;  */
            align-items: center;
            justify-content: center;
            width:100%;
        }
    .complete-cont-title{
           width: 100%;
           align-items: center;
           justify-content: center;
        }

    .b-a-title h3 {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        padding: 0;
    }

    .b-a-subtitle {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: left;
        justify-content: left;
        text-align: center;
        margin-left: 0;

    }

}

/* ----- Portfolio Section ----- */

.portFolio {
    display: flex;
    width: 100%;

}

#portFolio-page {
    background: #5c5b5b;
    width: 100%;
    height: 100%;
}
.port-cont-title {
    width: 100%;
}

.port-title h3 {
    font-family: myFont1;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #fff;
    text-align: left;
    padding-top: 10px;
    margin-left: 120px;
}

.port-subtitle {
    font-family: myFont2;
    color: #fff;
    font-size: 30px;
    font-weight: 200;
    letter-spacing: 4px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 150px;
    width: 100%;
}

.portfolio {
    position: relative;
    height: 100%;
    padding-bottom: 50px;
}

.pFolio {
    background: #5c5b5b;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.swiper {
    width: 100%;
    padding-top: 50px;
    /* padding-bottom: 50px; */
   padding-bottom: 200px;

}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 500px;
    border-radius: 25%;
    background: #5c5b5b; 
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0006) ;
}

.portfolio-card {
    position: relative;
    width: 400px;
    height: 80px; 
    margin: 0 auto;
    border-top-left-radius: 55%;
    border-top-right-radius: 10%;
}

.swiper-slide img {
    display: block;
    width: 100%;
    border-radius: 25%;
}

.portfolio-card {
    width: 400px;
    padding: 10px;
}

.sliderText {
    position: relative;
    width: 100%;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-card .sliderText h4{
    color: #fff;
    font-size: 24px; 
    letter-spacing: 1.5px;
    padding-top: 15px;
}

.swiper-slide {
    width: 400px;
}

/* ----- Media Queries Portfolio Section ----- */

@media (max-width: 992px) {
    .portFolio {
            /* padding: 100px 50px 50px 50px;  */
            align-items: center;
            justify-content: center;
            width:100%;
        }
    .port-cont-title {
           width: 100%;
           align-items: center;
           justify-content: center;
        }

    .port-title h3 {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        padding: 0;
    }

    .port-subtitle {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: left;
        justify-content: left;
        text-align: center;
        margin-left: 0;

    }

}

/* ----- Testimonial Section ----- */



.testimonial-section {
    background-color: #5c5b5b;
    padding: 80px 0;
    min-height: 100vh;
  
}


.testImage-img .testmon-img-box {
    max-width: 360px;
    margin: auto;
    text-align: center;
    position: relative;
}


.testImage-img .testCircle {
    height: 360px;
    width: 360px;
    background-color: #fb9c9a; 
    background-color: #AA0A90;
    position: absolute;
    border-radius: 50%;
    left: 0;
    bottom: 0;
    transition: all 0.5s ease;
}

.testImage-img .testmonImg-box-inner {
    position: relative;
    border-radius: 0 0 180px 180px;
    overflow: hidden;
}

.testImage-img .testmonImg-box-inner img {
    max-width: 310px;

}

.testimonial-section .carousel-inner {
    margin-bottom: 20px;
}

.testimonial-section .carousel-control-prev {
    margin-right: 10px;
}

.testimonial-section .carousel-control-next, 
.testimonial-section .carousel-control-prev{
    position: relative;
    height: 35px;
    width: 35px;
    background-color: #fb9c9a;
    background-color: #c04fb1;
    display: inline-flex;
    border-radius: 50%;
}

.testimonial-section .carousel-control-prev i, 
.testimonial-section .carousel-control-next i {
    width: 15px;
}

.testi-item h4{
    font-size: 24px;
    color: #efc4f7;
    line-height: 1.5rem;
    padding-top: 0px;
}


.testi-item h5{
    font-size: 22px;
    color: #efc4f7;
    line-height: 1.5rem;
    padding-top: 0px;
}

.testi-item .co-name {
    font-size: 18px;
    color: #efc4f7;
    color: #fb9c9a;
    color: aqua;
}


.testi-item p{
    font-size: 18px;
    color: #efc4f7;
}

.testi-item .subhead {
    font-size: 18px;
    color: #efc4f7;
    color: #fb9c9a;
    margin-top: 200px;
  
}

.testi-item i {
    font-size: 18px;
    color: #f9d71c;
    justify-content: space-between;
    line-height: 3rem;
}

/* ----- Media Queries Testimonial Section ----- */


@media(max-width:991px) {
    .testImage-img .testmon-img-box {
        max-width: 300px;
    }


    .testImage-img .testCircle {
        height: 300px;
        width: 300px;
    }

    .testImage-img .testmonImg-box-inner {
        border-radius: 0 0 150px 150px;

    }

    .testImage-img .testmonImg-box-inner img {
        max-width: 230px;

    }

}

@media(max-width:767px) {
    .testImage-img {
        margin-bottom: 25px;
    }

}


/* ----- Gallery Page Section ----- */

.galleryContainer {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding: 50px 5%;
}

.galleryContainer {
    background: #5c5b5b;  
}

.imageGallery {
    width: 80%;     
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 4fr));
    grid-gap: 30px;
}

.imageGallery img {
    width: 100%;
    cursor: pointer; 
} 

.imageGallery img:hover {
    transform: scale(0.8) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0 32px 75px rgba(68,77,136, 0.2);      
}  

.lightbox  {
display: flex;
justify-content: center;
align-items: center; 
background-color: rgba(0, 0, 0, .8);
display: none;

}

.lightbox img {
    max-width: 90%;
    max-height: 80%;
    padding: 4px;
    background-color: black;
    border: 2px solid white; 
}

.lb-data {
    margin-top: 5px;
}

span.lb-caption{
    color: #efc4f7;
    letter-spacing: 1.5px;  
}



/* ----- Contact Section ----- */



.contact
{
    background: #5c5b5b;
}

.contact h3,
.contact p
{
    color: #fff;
}

.contactForm
{
    position: relative;
    max-width: 800px;
    margin: 0 auto; 
    display: flex;

}

.contactForm form
{
    width: 100%;

}

.contactForm .row100
{
    display: flex;
    width: 100%;
}

.contactForm .row100 .inputBx50
{
    width: 50%;
    margin: 0 20px;
}

.contactForm .row100 .inputBx100
{
    width: 100%;
    margin: 0 20px;
}

.contactForm .row100 input,
.contactForm .row100 textarea
{
    position: relative;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    background: transparent;
    width: 100%;
    padding: 10px 0;
    outline: none;
    font-size: 18px;
    font-weight: 300;
    margin: 20px 0;
    resize: none;
}

.contactForm .row100 textarea
{
 height: 100px;

}

.contactForm .row100 input::placeholder,
.contactForm .row100 textarea::placeholder
{
    color: rgba(255,255,255,0.5);
}

.contactForm .row100 input[type="submit"]
{
    background: #fff;
    color: #000;
    border-radius: 20px;
    max-width: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: 500;
}

/* ----- Footer Section ----- */


footer{
    background-color: #5c5b5b;
    min-height: 120px;
    margin: 0;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.list-inline .social-links ul
{
    width: 50%;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;

}

.social-links li a
{
    text-decoration: none;
    display: inline-block;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
    color: #c04fb1;
    color: #fff;
    font-size: 38px;
    width: 58px;
    height: 58px;
    padding: 10px 0;
    border-radius: 50%;
    line-height: 24px;
    text-align: center;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}

.social-links li a:hover
{
    opacity: 0.5;

}

#footer-details
{
    text-align: center;
}

.contact #details
{
align-content: center;
justify-content: center;

}

.contact
{
    color: #c04fb1;
    color: #fff;

    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

}

.contact h6
{
    color: #777777;
    color: #fff;

}

.contact p
{
    padding-top: 18px;
    color: #c04fb1;
    color: #fff;

}
